M2/drive-download-20230610T132253Z-001.zip
M2/output.wav
M2/SQL-3hours.sql
M2/'SQL-3hours part 2.sql'
M2/'SQL-3hours part 3.sql'
M2/'SQL-3hours part 2.sql'
M2/Checkpoint_Create_Insert.sql
M2/'CanalDeVenta(1).xlsx'
M2/CanalDeVenta.xlsx
M2/Producto.xlsx
M2/Venta.xlsx

M3/AWBackup.sql
M3/AdventureWorks.sql
M3/Homework-20230624T010801Z-001.zip 
M3/Homework_Resuelto-20230624T040023Z-001.zip
